<!-- src/app/map/map.component.html -->
<div class="map-container">
  <div class="nav">
    <h1>Route Simulation</h1>
  </div>
  <form (ngSubmit)="plotRoute()">
    <mat-form-field>
      <input
        matInput
        placeholder="Starting Point (e.g., New York)"
        [(ngModel)]="startPoint"
        name="startPoint"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Destination Point (e.g., Los Angeles)"
        [(ngModel)]="destinationPoint"
        name="destinationPoint"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>

  <div id="map" class="map"></div>

  <!-- Travel Information Display -->
  <div class="travel-info">
    <h2>Travel Information</h2>
    <p><strong>From:</strong> {{ startPoint }}</p>
    <p><strong>To:</strong> {{ destinationPoint }}</p>
    <p *ngIf="travelTime">
      <strong>Estimated Time:</strong> {{ travelTime }} mins
    </p>
  </div>
</div>
